---
title: Map
layout: base.njk
---
This is where the maps goes

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
<style>
    #map { height: 400px; }

</style>
 <div id="map"></div>

<script>
    let map = L.map('map').setView([39.951341960732286, -75.19363396859703], 16);
    L.tileLayer('https://{s}.basemaps.cartocdn.com/dark_nolabels/{z}/{x}/{y}{r}.png', {
	attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors &copy; <a href="https://carto.com/attributions">CARTO</a>',
	subdomains: 'abcd',
	maxZoom: 20
    }).addTo(map);
    {% for essay in collections.essays %}
    L.marker([{{ essay.data.lat }}, {{ essay.data.long }}]).addTo(map).bindPopup('<a href="/essay/{{ essay.fileSlug }}">{{ essay.data.title }}</a>');
    {% endfor %}
</script>