<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>

<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/essays">Essays</a></li>
  <li><a href="/map">Map</a></li>
</ul>
    <div class="container">
        {{ content | markdownify| safe }}
    </div>
</body>
</html>




