---
layout: base.njk
---
<div class="container-lg ms-auto">
{% block content %}

{% if ':' in title  %}  
  <h1>{{ title | title | safe }}</h1> 
  <h4>{{ title | subtitle | safe }}</h4>
{% else %}
  <h1>{{ title | safe }}</h1>
{% endif %}  

<br>
  <p><i>{{ author | safe }}</i></p> 
  
  {{ content | safe }}
{% endblock %}

</div>
