@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600&family=Gentium+Book+Plus&display=swap');

:root {
  --bs-gutter-x: 10rem !important;
}

body {
  font-family: 'Gentium Book Plus', serif;
}

p {
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
h1 {
  font-family: 'Gentium Book Plus', serif;
  font-size: 2.5rem;
  line-height: 1.5;
}

h1, h2, h3, h4{
  text-align: center;
}

blockquote{
  margin-left: 4rem !important;
  margin-right: 4rem !important;
}

img{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.content-warning{
  background-color: lightyellow;
  margin: 2rem;
  padding: 2rem;
}

.container-fluid {
  --bs-gutter-x: 10rem !important;

}

.navbar{
  flex-wrap: wrap;
  justify-content: center;
}

.navbar-brand{
  white-space: normal;
}

.list-group-item{
  border: none;
  text-align: center;
}

.no-bullets {
  list-style-type: none;
}

.leaflet-cluster-anim .leaflet-marker-icon, .leaflet-cluster-anim .leaflet-marker-shadow {
	-webkit-transition: -webkit-transform 0.3s ease-out, opacity 0.3s ease-in;
	-moz-transition: -moz-transform 0.3s ease-out, opacity 0.3s ease-in;
	-o-transition: -o-transform 0.3s ease-out, opacity 0.3s ease-in;
	transition: transform 0.3s ease-out, opacity 0.3s ease-in;
  color: #aliceblue;
}

.leaflet-cluster-spider-leg {
	/* stroke-dashoffset (duration and function) should match with leaflet-marker-icon transform in order to track it exactly */
	-webkit-transition: -webkit-stroke-dashoffset 0.3s ease-out, -webkit-stroke-opacity 0.3s ease-in;
	-moz-transition: -moz-stroke-dashoffset 0.3s ease-out, -moz-stroke-opacity 0.3s ease-in;
	-o-transition: -o-stroke-dashoffset 0.3s ease-out, -o-stroke-opacity 0.3s ease-in;
	transition: stroke-dashoffset 0.3s ease-out, stroke-opacity 0.3s ease-in;
  color: aliceblue;
}

.marker-cluster-small div {
  background-color: rgba(240, 194, 12, 0.6);
}

.leaflet-container a {
  color: #070707;
}